[submodule "cmake/modules"]
	path = cmake/modules
	url = ../../ltdorgtest/modules.git
	branch = main
[submodule "cmake/plugins"]
	path = cmake/plugins
	url = ../../ltdorgtest/plugins.git
	branch = main
