[submodule "cmake/modules"]
	path = cmake/modules
	url = ../../ltdorgtest/cmake-modules.git
	branch = main
[submodule "cmake/flyout"]
	path = cmake/flyout
	url = ../../ltdorgtest/flyout.git
	branch = main
